<section class="contact-info-card module-block">
  <div class="contact-info-card__column">
    <div class="contact-info-card__column-wrapper">
      <div class="contact-info-card__column-item">
        {% include "components/contact/address.html" %}
      </div>

      <div class="contact-info-card__column-item">
        {% include "components/contact/phone.html" %}
      </div>

      <div class="contact-info-card__column-item">
        {% include "components/contact/work-time.html" %}
      </div>

      <div class="contact-info-card__column-item">
        {% include "components/contact/email.html" %}
      </div>
    </div>
  </div>

  <div class="contact-info-card__column">
    <div class="contact-info-card__column-item">
      {% include "components/contact/map.html" %}
    </div>
  </div>
</section>
