<div class="title title_fz16md">Схема проїзду:</div>
<div class="contact__map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2620.6027722167087!2d24.695892!3d48.9420073!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c1aaf355610f%3A0x7c762d117bdfa5e2!2zMTAwQSwg0LLRg9C70LjRhtGPINCT0LDQu9C40YbRjNC60LAsIDEwMNCQLCDQhtCy0LDQvdC-LdCk0YDQsNC90LrRltCy0YHRjNC6LCDQhtCy0LDQvdC-LdCk0YDQsNC90LrRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDc2MDAw!5e0!3m2!1suk!2sua!4v1684241640174!5m2!1suk!2sua"
    width="100%"
    height="100%"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
