<div class="contact__info-subtitle title title_fz16md">Телефони:</div>
<div class="contact__info-tel">
  <img src="./icons/mobile-phone.svg" alt="phone">
  <a href="tel:+380685419132" class="title title_fz16md">+380 68 541 9132</a>

  <button class="copy-btn">
    <img src="./icons/copy-small.svg" alt="copy">
  </button>
</div>

<div class="contact__info-tel">
  <img src="./icons/mobile-phone.svg" alt="phone">
  <a href="tel:+380685419132" class="title title_fz16md">+380 68 541 9132</a>

  <button class="copy-btn">
    <img src="./icons/copy-small.svg" alt="copy">
  </button>
</div>
