$main-color: #0066b2;
$base-text-color: #000000;
$second-text-color: #848484;
$main-background-color: #f5f6f9;
$main-line-color: #e8e8e8;
$placeholder-text-color: #a4b9cd;
$form-background-color: #e8f1fa;
$main-border-color: #b7b5b5;
