$main-color: #0066B2;
$base-text-color: #000000;
$second-text-color: #848484;
$main-background-color: #F5F6F9;
$main-line-color: #E8E8E8;
$placeholder-text-color: #A4B9CD;
$form-background-color: #E8F1FA;
$main-border-color: #B7B5B5;
