// @include define-color("dark", #2a2a2a);
// @include define-color("light", #fff);

// @include gradient("main-gra", linear-gradient(45deg, black, transparent))
// background: linear-gradient(90deg, #000, #555, #aaa, #fff);

//   background-color: color("dark", $a: 0.5); // 50% прозрачность
//    background-color: color("light", $a: 0.5)


:root {
    --bulma-primary-: hsl(0, 100%, 0%);
  }

:root {
    --bulma-primary-: hsl(0, 100%, 0%);
  }
  
.my-custom-button {
    background-color: var(--bulma-primary);
    color: var(--bulma-primary-invert);
    border: 1px solid var(--bulma-primary);
  }
  