.category {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    row-gap: 10px;
  }
  &__tags {
    display: flex;
    justify-content: flex-start;
    column-gap: 15px;
    row-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    &-title {
      flex: 0 0 auto;
      margin-right: 8px;
      color: $second-text-color;
      span {
        color: $base-text-color;
      }
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 9px;
      padding: 5px 2px 5px 15px;
      border-radius: 20px;
      border: 1px solid transparent;
      background: #fff;
      font-size: 14px;
      font-weight: 400;
      color: $base-text-color;
      &_reset {
        padding-right: 15px;
        border-color: #f00;
        color: #f00;
      }
    }
    &-btn {
      position: relative;
      width: 19px;
      height: 19px;
      padding: 0;
      border: none;
      background: transparent;
      &-close {
        margin: 0 auto;
        top: 1px;
      }
    }
  }
  &__dropdown {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-left: auto;
  }
  &__main {
    display: grid;
    grid-template-columns: 298px 1fr;
    column-gap: 16px;
  }
}
