<nav class="main-breadcrumb__wrapper" role="navigation">
  <ul class="main-breadcrumb title title_fz11md">
    <li class="main-breadcrumb__item">
      <a href="#">
        <img src="./icons/breadcrumb-logo.svg" alt="logo">
      </a>
    </li>
    <li class="main-breadcrumb__item">
      <a href="./category.html">
        Корисні комахи
      </a>
    </li>
    <li class="main-breadcrumb__item">
      назва товару
    </li>
  </ul>

  <button class="main-breadcrumb__hamburger" data-menu="breadcrumbHamburger">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<div class="overlay overlay_breadcrumb">
  <div id="mobile-breadcrumb" class="mobile-breadcrumb">
    <button class="mobile-breadcrumb__close" data-element="mobileBreadcrumbCloseElem">
      <div></div>
    </button>
    <ul class="mobile-breadcrumb__menu">
      <li class="mobile-breadcrumb__menu-item">
        <a href="#">
          Головна
        </a>
        <span></span>
      </li>
      <li class="mobile-breadcrumb__menu-item">
        <a href="#">
          Корисні комахи
        </a>
        <span></span>
      </li>
      <li class="mobile-breadcrumb__menu-item">
        <a href="#">
          Джмелі
        </a>
        <span></span>
      </li>
      <li class="mobile-breadcrumb__menu-item">
        <a href="#">
          Bombus PRO5
        </a>
        <span></span>
      </li>
    </ul>
  </div>
</div>
