<div class="category-card-list">

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

  {% include "components/product-card-base.html" %}

</div>

{% include "components/inner-btn.html" %}

{% include "components/pagination.html" %}
