<header class="header">
  <div class="container">
    <div class="header_wrapp">
        <div class="logo_wrapp">

        </div>

        <ul class="navbar">
            <li class="nav-item">
              <a class="button is-text" href="#main"
                >Головна</a
              >
            </li>
            </li>
            <li class="nav-item">
              <a class="button is-text" href="#about"
                >Про игру</a
              >
            </li>
            <li class="nav-item">
              <a class="button is-text" href="#contacts"
                >Контакты</a
              >
            </li>

            <div class="btn-wrapper">
              <button class="button is-danger is-dark">button</button>
            </div>

          </ul>
    </div>
  </div>
</header>
