<header class="header">
  <div class="container">
    <div class="header_wrapp">
        <ul class="navbar">
            <li class="nav-item">
              <a class="button is-text" href=""
                >Home</a
              >
            </li>
            </li>
            <li class="nav-item">
              <a class="button is-text" href="#about"
                >About game</a
              >
            </li>
            <li class="nav-item">
              <a class="button is-text" href="#contacts"
                >Contacts</a
              >
            </li>

            <div class="btn-wrapper">
              <button class="button is-danger is-dark">button</button>
            </div>
        </ul>

        <div class="mobile_inner">
          <div class="menu-trigger" id="mobile-btn">
            <span></span><span></span><span></span>
          </div>
  
          <ul class="mobile_menu" id="nav-bar">
            <li class="menu-item">
              <a class="button is-text" href=""
                >Home</a
              >
            </li>
            </li>
            <li class="nav-item">
              <a class="button is-text" href="#about"
                >About game</a
              >
            </li>
            <li class="nav-item">
              <a class="button is-text" href="#contacts"
                >Contacts</a
              >
            </li>
  
            <div class="btn-wrapper">
              <button class="button is-danger is-dark">button</button>
            </div>
          </div>
        </div>

    </div>
  </div>
</header>
