<div class="product-images-videos product-images-videos_tabs">
  <div class="product-images-videos__slider product-images-videos__slider_tabs">
    <div class="swiper productImgSwiper4 product-images-videos__slider-wrapper product-images-videos__slider-wrapper_tabs">
      <div class="swiper-wrapper">
        
        <!-- <div class="swiper-slide">
          <img src="./img/big-box.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
        </div> -->

      </div>
    </div>
  </div>

  <div class="product-images-videos__thumbs-wrapper product-images-videos__thumbs-wrapper_tabs">
    <div thumbsSlider="" class="swiper productImgSwiper3 product-images-videos__thumbs product-images-videos__thumbs_tabs">
      <div class="swiper-wrapper">

        <!-- <button class="swiper-slide product-images-videos__slide">
          <img src="./img/box.jpg" />
        </button>
        <button class="swiper-slide product-images-videos__slide">
          <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
        </button>
        <button class="swiper-slide product-images-videos__slide">
          <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
        </button>
        <button class="swiper-slide product-images-videos__slide">
          <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
        </button>
        <button class="swiper-slide product-images-videos__slide">
          <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
        </button>
        <button class="swiper-slide product-images-videos__slide">
          <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
        </button>
        <button class="swiper-slide product-images-videos__slide">
          <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
        </button>
        <button class="swiper-slide product-images-videos__slide">
          <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
        </button>
        <button class="swiper-slide product-images-videos__slide">
          <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
        </button>
        <button class="swiper-slide product-images-videos__slide">
          <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
        </button> -->

      </div>
    </div>
  </div>
</div>
