{% extends "layouts/main.html" %}

{% block content %}

  <div class="contact">

    <div class="contact__header">

      {% include "components/breadcrumbs.html" %}

      <div class="page-title">
        <h1>Контакти</h1>
      </div>
    </div>

    <div class="contact__main">
      <div class="contact__main-column">

        {% include "components/contact/contact-info-card.html" %}

        {% include "components/contact/contact-info-card.html" %}

        <div class="contact__social-block module-block">

          {% include "components/contact/messengers.html" %}

          {% include "components/contact/social.html" %}

        </div>

        <div class="contact__question module-block">
          <div class="contact__question-header">
            <div class="contact__question-title title">
              У вас є питання?
            </div>
            <div class="contact__question-subtitle title title_fz20">
              Напишіть нам - усе розповімо
            </div>
          </div>

          <form id="contact-question-form" class="form contact__question-form" action="#">
            <div class="contact__question-form-inputs">
              <input name="name" placeholder="Ім’я" type="text">
              <input name="email" placeholder="Email" type="email">
            </div>
            <textarea name="text" placeholder="Ваше повідомлення" id="review-text"></textarea>

            <button class="button button_modal contact__question-btn">Відправити</button>
          </form>
        </div>

      </div>

      <div class="contact__main-column">

        {% include "components/contact/contact-menu.html" %}

        {% include "components/contact/banner.html" %}

      </div>
    </div>
  </div>
{% endblock %}
